<link rel="stylesheet" href="main/styles/bootstrap.min.css">
<link rel="stylesheet" href="main/styles/navmenu-reveal.css">
<link rel="stylesheet" href="main/styles/style.css">
<link rel="stylesheet" href="main/styles/full-slider.css">
<link rel="stylesheet" href="main/styles/animated-masonry-gallery.css">
<link rel="stylesheet" href="main/styles/normalize.css">
<link rel="stylesheet" href="main/styles/demo.css">
<link rel="stylesheet" href="main/styles/component.css">
<link rel="stylesheet" href="main/styles/lightbox.css">



<ion-view view-title="Gallery" style="background-color: black;">
  <ion-scroll direction="y"style="height:600px;">
        
    <div class="canvas gallery" style="margin-top:16px;"><br>
        <h1 class="blog-post-title text-center">Gallery of Images</h1>
        <span class="title-divider"></span>
            <section id="photostack-3" class="photostack">
                <div>
                    <figure>
                        <a href="main/assets/images/a.jpg"  data-lightbox="studio2" class="photostack-img"><img src="main/assets/images/a1.jpg" alt="img05"/></a>
                        <figcaption>
                            <h2 class="photostack-title">Speed Racer</h2>
                            <div class="photostack-back">
                                <p>Here he comes Here comes Speed Racer. He's a demon on wheels. Wouldn't you like to get away? Sometimes you want to go where everybody knows <span>the</span> your name. And they're always glad you came! </p>
                            </div>
                        </figcaption>
                    </figure>
                    <figure>
                        <a href="main/assets/images/b.jpg"  data-lightbox="studio2" class="photostack-img"><img src="main/assets/images/b1.jpg" alt="img02"/></a>
                        <figcaption>
                            <h2 class="photostack-title">Happy Days</h2>
                            <div class="photostack-back">
                                <p>These Happy Days are yours and mine Happy Days. It's a beautiful day in this neighborhood a beautiful day for a neighbor. Would you be mine?</p>
                            </div>
                        </figcaption>
                    </figure>
                    <figure>
                        <a href="main/assets/images/c.jpg"  data-lightbox="studio2" class="photostack-img"><img src="main/assets/images/c1.jpg" alt="img03"/></a>
                        <figcaption>
                            <h2 class="photostack-title">Beautywood</h2>
                            <div class="photostack-back">
                                <p>It's a neighborly day in this beautywood a neighborly day for a beauty. Would you be mine? Could you be mine. Now the world don't move to the beat of just one drum.</p>
                            </div>
                        </figcaption>
                    </figure>
                    <figure>
                       <a href="main/assets/images/d.jpg"  data-lightbox="studio2" class="photostack-img"><img src="main/assets/images/d1.jpg" alt="img01"/></a>
                        <figcaption>
                            <h2 class="photostack-title">Serenity Beach</h2>
                            <div class="photostack-back">
                                <p>I have never been to a place so serene in my entire life before. Swimming in clear waters opened my mind to nature and reminded me of my and <span>eveybody</span> everybody else's mortality.</p>
                            </div>
                        </figcaption>
                    </figure>
                    <figure>
                        <a href="main/assets/images/e.jpg"  data-lightbox="studio2" class="photostack-img"><img src="main/assets/images/e1.jpg" alt="img04"/></a>
                        <figcaption>
                            <h2 class="photostack-title">Heaven of time</h2>
                            <div class="photostack-back">
                                <p>What might be right for you may not be right for some. And we know Flipper lives in a world full of wonder flying there-under under the sea.</p>
                            </div>
                        </figcaption>
                    </figure>
                    <figure>
                        <a href="main/assets/images/f.jpg"  data-lightbox="studio2" class="photostack-img"><img src="main/assets/images/f1.jpg" alt="img06"/></a>
                        <figcaption>
                            <h2 class="photostack-title">Forever this</h2>
                            <div class="photostack-back">
                                <p>Fish don't fry in the kitchen and beans don't burn on the grill. Took a whole lotta tryin' just to get up that hill. Baby if you've ever wondered - wondered whatever became of me. </p>
                            </div>
                        </figcaption>
                    </figure>
                    <figure data-dummy>
                        <a href="#" class="photostack-img"><img src="main/assets/images/7.jpg" alt="img07"/></a>
                        <figcaption>
                            <h2 class="photostack-title">Lovely Green</h2>
                        </figcaption>
                    </figure>
                    <figure data-dummy>
                        <a href="#" class="photostack-img"><img src="main/assets/images/8.jpg" alt="img08"/></a>
                        <figcaption>
                            <h2 class="photostack-title">Wonderful</h2>
                        </figcaption>
                    </figure>
                    <figure data-dummy>
                        <a href="#" class="photostack-img"><img src="main/assets/images/9.jpg" alt="img09"/></a>
                        <figcaption>
                            <h2 class="photostack-title">Love Addict</h2>
                        </figcaption>
                    </figure>
                    <figure data-dummy>
                        <a href="#" class="photostack-img"><img src="main/assets/images/10.jpg" alt="img10"/></a>
                        <figcaption>
                            <h2 class="photostack-title">Friendship</h2>
                        </figcaption>
                    </figure>
                    <figure data-dummy>
                        <a href="#" class="photostack-img"><img src="main/assets/images/11.jpg" alt="img11"/></a>
                        <figcaption>
                            <h2 class="photostack-title">White Nights</h2>
                        </figcaption>
                    </figure>
                    <figure data-dummy>
                        <a href="#" class="photostack-img"><img src="main/assets/images/12.jpg" alt="img12"/></a>
                        <figcaption>
                            <h2 class="photostack-title">Serendipity</h2>
                        </figcaption>
                    </figure>
                    <figure data-dummy>
                        <a href="#" class="photostack-img"><img src="main/assets/images/13.jpg" alt="img13"/></a>
                        <figcaption>
                            <h2 class="photostack-title">Pure Soul</h2>
                        </figcaption>
                    </figure>
                    <figure data-dummy>
                        <a href="#" class="photostack-img"><img src="main/assets/images/14.jpg" alt="img14"/></a>
                        <figcaption>
                            <h2 class="photostack-title">Winds of Peace</h2>
                        </figcaption>
                    </figure>
                    <figure data-dummy>
                        <a href="#" class="photostack-img"><img src="main/assets/images/15.jpg" alt="img15"/></a>
                        <figcaption>
                            <h2 class="photostack-title">Shades of blue</h2>
                        </figcaption>
                    </figure>
                    <figure data-dummy>
                        <a href="#" class="photostack-img"><img src="main/assets/images/16.jpg" alt="img16"/></a>
                        <figcaption>
                            <h2 class="photostack-title">Lightness</h2>
                        </figcaption>
                    </figure>
                </div>
            </section>
        </div>
  </ion-scroll>
  <script>console.log('gallery');</script>
<script src="main/plugins/jquery.js"></script>
<script src="main/plugins/jquery-ui-1.10.4.min.js"></script> 
<script src="main/plugins/modernizr.min.js"></script>
<script src="main/plugins/isotope.js"></script>
<script src="main/plugins/animated-masonry-gallery.js"></script>
<script src="main/plugins/classie.js"></script>
<script src="main/plugins/photostack.js"></script>  
<script src="main/plugins/main.js"></script>
<script src="main/plugins/lightbox.js"></script>
</ion-view>

