<link rel="stylesheet" href="main/styles/lightbox.css">
<link rel="stylesheet" href="main/styles/animated-masonry-gallery.css">
<link rel="stylesheet" href="main/styles/full-slider.css">
<link rel="stylesheet" href="main/styles/style.css">

<ion-view view-title="Works" style="background-color: black">
    <ion-scroll direction="y" style="height: 700px;">
               
        <div class="canvas gallery" style="margin-top: 20px;"><br>
            <h1 class="blog-post-title text-center" style="color: rgba(255,255,255,0.5);">Have a look to my works</h1>
            <span class="title-divider"></span>
    
          <div id="container" class="container">
            <div id="gallery">
              <div id="gallery-header">
                <div id="gallery-header-center">
                  <div id="gallery-header-center-left">
                    <!-- <div id="gallery-header-center-left-icon">
                    </div> -->
                    <div id="gallery-header-center-left-title">All Galleries</div>
                  </div>
                <div id="gallery-header-center-right">
                  <div class="gallery-header-center-right-links" id="filter-all">All</div>
                    <div class="gallery-header-center-right-links" id="filter-studio">Studio</div>
                    <div class="gallery-header-center-right-links" id="filter-landscape">Landscapes</div>
                </div>
                </div>
              </div>
            <div id="gallery-content">
              <div id="gallery-content-center">
                <a href="main/assets/images/studio1.jpg" data-lightbox="studio1"><img src="main/assets/images/studio1.jpg" id="imagelightbox" class="all studio"/> </a>
                <a href="main/assets/images/landscape1.jpg" data-lightbox="studio1"><img src="main/assets/images/landscape1.jpg" class="all landscape"></a>
                <a href="main/assets/images/studio2.jpg" data-lightbox="studio1"><img src="main/assets/images/studio2.jpg" class="all studio"/></a>
                <a href="main/assets/images/studio25.jpg" data-lightbox="studio1"><img src="main/assets/images/studio25.jpg" class="all studio"/></a>
                <a href="main/assets/images/landscape2.jpg" data-lightbox="studio1"><img src="main/assets/images/landscape2.jpg" class="all landscape"></a>
                <a href="main/assets/images/studio27.jpg" data-lightbox="studio1"><img src="main/assets/images/studio27.jpg" class="all studio"/></a>
                <a href="main/assets/images/studio3.jpg" data-lightbox="studio1"><img src="main/assets/images/studio3.jpg" class="all studio"/></a>
                <a href="main/assets/images/landscape3.jpg" data-lightbox="studio1"><img src="main/assets/images/landscape3.jpg" class="all landscape"></a>
                <a href="main/assets/images/studio26.jpg" data-lightbox="studio1"><img src="main/assets/images/studio26.jpg" class="all studio"/></a>
                <a href="main/assets/images/studio4.jpg" data-lightbox="studio1"><img src="main/assets/images/studio4.jpg" class="all studio"/></a>
                <a href="main/assets/images/landscape4.jpg" data-lightbox="studio1"><img src="main/assets/images/landscape4.jpg" class="all landscape"></a>
                <a href="main/assets/images/studio5.jpg" data-lightbox="studio1"><img src="main/assets/images/studio5.jpg" class="all studio"/></a>
                <a href="main/assets/images/landscape5.jpg" data-lightbox="studio1"><img src="main/assets/images/landscape5.jpg" class="all landscape"></a>
                <a href="main/assets/images/studio6.jpg" data-lightbox="studio1"><img src="main/assets/images/studio6.jpg" class="all studio"/></a>
                <a href="main/assets/images/landscape6.jpg" data-lightbox="studio1"><img src="main/assets/images/landscape6.jpg" class="all landscape"></a>
                <a href="main/assets/images/studio7.jpg" data-lightbox="studio1"><img src="main/assets/images/studio7.jpg" class="all studio"/></a>
                <a href="main/assets/images/landscape7.jpg" data-lightbox="studio1"><img src="main/assets/images/landscape7.jpg" class="all landscape"></a>
                <a href="main/assets/images/studio8.jpg" data-lightbox="studio1"><img src="main/assets/images/studio8.jpg" class="all studio"/>
                <a href="main/assets/images/landscape8.jpg" data-lightbox="studio1"><img src="main/assets/images/landscape8.jpg" class="all landscape"></a>
                <a href="main/assets/images/studio9.jpg" data-lightbox="studio1"><img src="main/assets/images/studio9.jpg" class="all studio"/></a>
                <a href="main/assets/images/landscape9.jpg" data-lightbox="studio1"><img src="main/assets/images/landscape9.jpg" class="all landscape"></a>
                <a href="main/assets/images/studio10.jpg" data-lightbox="studio1"><img src="main/assets/images/studio10.jpg" class="all studio"/></a>
                <a href="main/assets/images/landscape10.jpg" data-lightbox="studio1"><img src="main/assets/images/landscape10.jpg" class="all landscape"></a>
                <a href="main/assets/images/studio11.jpg" data-lightbox="studio1"><img src="main/assets/images/studio11.jpg" class="all studio"/></a>
                <a href="main/assets/images/landscape11.jpg" data-lightbox="studio1"><img src="main/assets/images/landscape11.jpg" class="all landscape"></a>
                <a href="main/assets/images/studio12.jpg" data-lightbox="studio1"><img src="main/assets/images/studio12.jpg" class="all studio"/></a>
                <a href="main/assets/images/landscape12.jpg" data-lightbox="studio1"><img src="main/assets/images/landscape12.jpg" class="all landscape"></a>
                <a href="main/assets/images/studio13.jpg" data-lightbox="studio1"><img src="main/assets/images/studio13.jpg" class="all studio"/></a>
                <a href="main/assets/images/landscape13.jpg" data-lightbox="studio1"><img src="main/assets/images/landscape13.jpg" class="all landscape"></a>
                <a href="main/assets/images/studio14.jpg" data-lightbox="studio1"><img src="main/assets/images/studio14.jpg" class="all studio"/></a>
                <a href="main/assets/images/landscape14.jpg" data-lightbox="studio1"><img src="main/assets/images/landscape14.jpg" class="all landscape"></a>
                <a href="main/assets/images/studio15.jpg" data-lightbox="studio1"><img src="main/assets/images/studio15.jpg" class="all studio"/></a>
                <a href="main/assets/images/studio15.jpg" data-lightbox="studio1"><img src="main/assets/images/studio15.jpg" class="all studio"/></a>
                <a href="main/assets/images/studio15.jpg" data-lightbox="studio1"><img src="main/assets/images/studio15.jpg" class="all studio"/></a>
                <a href="main/assets/images/landscape15.jpg" data-lightbox="studio1"><img src="main/assets/images/landscape15.jpg" class="all landscape"></a>
                <a href="main/assets/images/studio16.jpg" data-lightbox="studio1"><img src="main/assets/images/studio16.jpg" class="all studio"/></a>
                <a href="main/assets/images/landscape16.jpg" data-lightbox="studio1"><img src="main/assets/images/landscape16.jpg" class="all landscape"></a>
                <a href="main/assets/images/studio17.jpg" data-lightbox="studio1"><img src="main/assets/images/studio17.jpg" class="all studio"/></a>
                <a href="main/assets/images/landscape17.jpg" data-lightbox="studio1"><img src="main/assets/images/landscape17.jpg" class="all landscape"></a>
                <a href="main/assets/images/studio18.jpg" data-lightbox="studio1"><img src="main/assets/images/studio18.jpg" class="all studio"/></a>
                <a href="main/assets/images/landscape18.jpg" data-lightbox="studio1"><img src="main/assets/images/landscape18.jpg" class="all landscape"></a>
                <a href="main/assets/images/studio19.jpg" data-lightbox="studio1"><img src="main/assets/images/studio19.jpg" class="all studio"/></a>
                <a href="main/assets/images/studio20.jpg" data-lightbox="studio1"><img src="main/assets/images/studio20.jpg" class="all studio"/></a>
                <a href="main/assets/images/studio21.jpg" data-lightbox="studio1"><img src="main/assets/images/studio21.jpg" class="all studio"/></a>
                <a href="main/assets/images/studio22.jpg" data-lightbox="studio1"><img src="main/assets/images/studio22.jpg" class="all studio"/></a>
                <a href="main/assets/images/studio23.jpg" data-lightbox="studio1"><img src="main/assets/images/studio23.jpg" class="all studio"/></a>
                <a href="main/assets/images/studio24.jpg" data-lightbox="studio1"><img src="main/assets/images/studio24.jpg" class="all studio"/></a>
              </div>
            </div>
          </div>
        </div>
      
</ion-scroll>

</ion-view>
<script src="main/plugins/jquery-ui-1.10.4.min.js"></script>
        <script src="main/plugins/isotope.js"></script>
        <script src="main/plugins/animated-masonry-gallery.js"></script>
        <script src="main/plugins/lightbox.js"></script>
        
        <script src="main/plugins/main.js"></script>

